<launch>
	<include file="$(find underwater_vehicle_dynamics)/launch/dynamics.launch">
	   <arg name="namespace" value="g500" />
	   <arg name="params" value="$(find underwater_vehicle_dynamics)/config/dynamics_g500.yaml" />
	</include>
	<rosparam param="/g500/dynamics/initial_pose">[-4.68,-15,6.92,0,0,1.27]</rosparam>

	<arg name="scene" default="pipeFollowing_heights.xml" />
	<arg name="bench" default="pipeFollowing.xml" />
	<node name="uwsimbenchmarks" pkg="uwsimbenchmarks" type="uwsimbenchmarks" args="--configfile $(arg scene) --benchmark $(arg bench)" output="screen" respawn="false"/>

	<node name="groundTruth_heights" pkg="pipefollowing" type="groundTruth_heights" output="screen" respawn="false" />

        <arg name="upload" default="" />
	<param name="upload" value="$(arg upload)" />
	<param name="scene" value="heights" />

	<node name="SSmanager" pkg="pipefollowing" type="manageSpreadSheet.py" output="screen" respawn="false" />
</launch>

